<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On
	
	#Delete /public from path
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
